h1{ text-align: center;
  color: red;}
h4{font-family: Ubuntu;}
p{font-family: Ubuntu;
color: white}
h2{text-align: center;
color: white}
h4{color: blue;}
.ge{color: orange}
.jdm{color: orange}
.am{color: orange}
body{background-image: url("download.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
       background-size: 100% 100%}
       h3{color: white;text-align: center;}
.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;

